doctype html
html 
    head 
        title= data.title 
    body 
        h1= data.title
        img(src=data.poster, alt=data.title)
        p= data.rating
        p= data.genre
        p= data.details
            
